---
import Layout from "@layouts/Layout.astro"

import astroLogo from "@icons/astro.svg"
import background from "@icons/background.svg"
import "@styles/pages/index.css"

const title = "Homepage"
const description = "Welcome to the Astro Basics homepage"
const coverImage = "@images/business-integrity.webp"
---

<Layout {title} {description} {coverImage}>
  <section style="overflow:visible">
    <img id="background" src={background.src} alt="" fetchpriority="high" />
    <a href="https://astro.build"><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a>
    <h1 style="position: sticky; top: 0; padding-top: 0;">
      To get started, open the <code>src/pages</code> directory in your project.
    </h1>
  </section>
  <section id="links">
    <a class="button" href="https://docs.astro.build">Read our docs</a>
    <a href="https://astro.build/chat">
      Join our Discord <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.14 96.36" focusable="false" tabindex="0">
        <path
          fill="currentColor"
          d="M107.7 8.07A105.15 105.15 0 0 0 81.47 0a72.06 72.06 0 0 0-3.36 6.83 97.68 97.68 0 0 0-29.11 0A72.37 72.37 0 0 0 45.64 0a105.89 105.89 0 0 0-26.25 8.09C2.79 32.65-1.71 56.6.54 80.21a105.73 105.73 0 0 0 32.17 16.15 77.7 77.7 0 0 0 6.89-11.11 68.42 68.42 0 0 1-10.85-5.18c.91-.66 1.8-1.34 2.66-2a75.57 75.57 0 0 0 64.32 0c.87.71 1.76 1.39 2.66 2a68.68 68.68 0 0 1-10.87 5.19 77 77 0 0 0 6.89 11.1 105.25 105.25 0 0 0 32.19-16.14c2.64-27.38-4.51-51.11-18.9-72.15ZM42.45 65.69C36.18 65.69 31 60 31 53s5-12.74 11.43-12.74S54 46 53.89 53s-5.05 12.69-11.44 12.69Zm42.24 0C78.41 65.69 73.25 60 73.25 53s5-12.74 11.44-12.74S96.23 46 96.12 53s-5.04 12.69-11.43 12.69Z">
        </path>
      </svg>
    </a>
  </section>
  <section>
    <h2>What is Astro?</h2>
    <p>
      Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience. Ship faster with less
      complexity and more flexibility.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed accusamus nulla incidunt distinctio! Error eveniet voluptatem numquam fugit
      assumenda, veritatis vitae et minus dolores? Voluptatem autem ratione quasi maxime dignissimos!
    </p>
    <p>
      Quisquam sed consectetur quaerat esse optio libero impedit placeat delectus quidem dolorem ratione quasi eius accusantium officia, sunt, unde
      cum dignissimos, consequuntur maxime explicabo beatae perspiciatis deleniti. Impedit, hic accusamus?
    </p>
    <p>
      Similique, et, cumque consectetur repellendus hic laboriosam ducimus illo quis tenetur explicabo unde quibusdam quod, aperiam rem qui atque!
      Tempora, facilis! Nihil odit repudiandae numquam vitae. Placeat iusto ipsum culpa?
    </p>
    <p>
      Officia accusamus veritatis dolorem impedit tempora quasi magni autem recusandae in sit exercitationem numquam dignissimos ex necessitatibus,
      hic ipsa dolorum vitae nesciunt. Excepturi sapiente aspernatur sint totam earum, dicta consequuntur.
    </p>
    <p>
      Voluptate quisquam rem id eveniet, et inventore iure harum repellendus nemo. Officia aspernatur ad commodi cumque neque at ipsam fuga?
      Voluptatibus sunt, sequi error officia earum exercitationem iure animi rem.
    </p>
    <p>
      Veniam minima rerum, at, aperiam deserunt enim porro perspiciatis repellendus tenetur harum reprehenderit incidunt temporibus! Laudantium, a.
      Dolorem architecto nulla, dolore, dolor ad aspernatur pariatur ex corrupti nihil temporibus delectus!
    </p>
    <p>
      Quod eum saepe tenetur quia corrupti neque? Veniam, ducimus illum? Non autem id odit architecto laborum nobis at et quisquam labore ipsam ipsa
      nihil sequi, similique impedit perspiciatis? Molestiae, nesciunt?
    </p>
    <p>
      Perspiciatis enim distinctio sapiente hic doloremque nemo necessitatibus. Aliquam esse doloribus deleniti, molestiae deserunt assumenda, vel
      incidunt ut reiciendis hic possimus reprehenderit odio officia aut voluptas? Porro ut voluptas exercitationem.
    </p>
    <p>
      Debitis repellat facilis consequuntur voluptates quo earum non! Dignissimos, saepe, quo nobis excepturi ex error, esse illum qui quis vel
      quibusdam laboriosam reiciendis sed laborum? Voluptas nostrum adipisci sint quam.
    </p>
    <p>
      Optio, minima culpa quam quae vero ratione mollitia? Atque, ipsa expedita, consequatur quae repellat voluptatem quos quaerat cupiditate quas
      quia, omnis consequuntur ut magnam doloremque minus facilis earum voluptas adipisci.
    </p>
    <p>
      Vel, dolore qui debitis similique ipsam, possimus labore laborum odit unde officiis a voluptate ut aspernatur facilis veniam consequatur
      corrupti? Nihil necessitatibus architecto tenetur saepe ea velit est natus fugiat.
    </p>
    <p>
      Tempore molestias quia est blanditiis, quae soluta dignissimos fugiat fuga officiis ab illo in! Maiores, rerum optio, possimus eligendi facilis
      accusantium vitae eos doloribus recusandae cumque officiis quo sit iste?
    </p>
    <p>
      Eius quos commodi blanditiis rerum dignissimos tenetur laboriosam facere, architecto nisi impedit voluptas deserunt qui fugiat animi
      perspiciatis consequatur voluptatibus sapiente perferendis iste voluptatem doloribus? Exercitationem delectus vitae asperiores recusandae?
    </p>
    <p>
      Sunt itaque cum nisi laudantium praesentium dolores maiores cumque, molestiae enim eum at quo dolor quidem consectetur nulla ullam sequi maxime
      aliquid modi amet incidunt. Consequuntur doloremque natus qui eligendi.
    </p>
    <p>
      Corrupti porro voluptatem voluptatibus, dolorum iure pariatur illum in dolor impedit sequi, repellat labore, totam provident cum a expedita
      quisquam ullam aperiam voluptas sint delectus minima. Est molestias debitis sed!
    </p>
    <p>
      Quod obcaecati assumenda ipsum, enim necessitatibus sequi non ratione tempore delectus, veniam illum consectetur eligendi dolorum quasi amet
      dicta totam laudantium, porro officia eveniet! Doloribus quo eos deserunt sequi nisi?
    </p>
    <p>
      Aliquid voluptatum velit quisquam, quae ratione voluptas fugiat commodi eveniet vitae voluptates alias voluptatem modi, dolorem dignissimos enim
      maxime deleniti sint qui. Veniam porro odio dolor non. Nostrum, natus minima.
    </p>
    <p>
      Sunt quisquam, reiciendis eum labore, corporis quas perferendis mollitia quidem, quo impedit ea! Similique cumque ipsa, molestias nam,
      distinctio nulla tempora, doloremque incidunt quam animi voluptatibus saepe alias. Harum, accusamus!
    </p>
    <p>
      Maiores expedita nesciunt quaerat in blanditiis fugiat culpa molestias at nulla, possimus dolorum placeat nam sapiente maxime rerum consectetur
      id recusandae, aspernatur nisi minus vitae nostrum sed omnis. Praesentium, at.
    </p>
    <p>
      Labore voluptatem consequatur expedita sunt totam recusandae esse facere numquam ea vero! Ex quos tenetur perferendis. Ratione magni vero ullam
      fugit id, doloribus, illo ducimus natus veritatis ab ipsum suscipit.
    </p>
  </section>
</Layout>

<style>
  section {
    padding-block: 5rem;
  }
</style>
