---
import Layout from "@layouts/Base.astro"

import astroLogo from "@icons/astro.svg"
import background from "@icons/background.svg"

const title = "Homepage"
const description = "Welcome to the Astro Basics homepage"
const coverImage = "@images/business-integrity.webp"
---

<Layout {title} {description} {coverImage}>
  <section style="overflow:visible">
    <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
    <a href="https://www.jasoneperkins.com/astro/corporate"><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a>
    <h1>
      To get started, open the <code>src/pages</code> directory in your project.
    </h1>
  </section>
  <section id="links" class="grid grid-cols-(--split)">
    <a class="button" href="/astro/corporate">Read our docs</a>
    <a href="/astro/corporate/">Join our Discord</a>
  </section>
  <section>
    <h2>What is Astro?</h2>
    <p>
      Astro is a new kind of static site builder that delivers lightning-fast performance with a modern developer experience. Ship faster with less
      complexity and more flexibility.
    </p>
  </section>
</Layout>

<style>
  section {
    padding-block: 5rem;
  }
</style>
