---
import Layout from "@layouts/Base.astro"

import astroLogo from "@icons/astro.svg"
import background from "@icons/background.svg"

const title = "Homepage"
const description = "Welcome to the Astro Basics homepage"
const coverImage = "@images/business-integrity.webp"
---

<Layout {title} {description} {coverImage} class="split">
  <section style="overflow:visible">
    <!-- <img id="background" src={background.src} alt="" fetchpriority="high" /> -->
    <a href="https://www.jasoneperkins.com/astro/corporate"><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a>
    <h1>
      To get started, open the <code>src/pages</code> directory in your project.
    </h1>
  </section>
  <section id="links" class="wide">
    <a class="button" href="/astro/corporate">Read our docs</a>
    <a href="/astro/corporate/">Join our Discord</a>
  </section>
  <section>
    <h2>Lorem ipsum dolor sit.</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quas exercitationem iure, itaque a excepturi soluta commodi et id beatae? Autem
      ratione id quaerat perspiciatis ea iure natus eaque eligendi laudantium qui placeat dolorum illo ipsa amet nostrum, incidunt, possimus
      veritatis? Provident quisquam sed, laudantium iure esse ullam similique quas.
    </p>
    <p>
      Illum eveniet rem accusantium hic, quidem laudantium, excepturi magni provident quo voluptatibus nam obcaecati laboriosam adipisci maxime
      repellat ex dolorem dolorum consectetur tempora possimus libero odit eligendi dolore. Ab voluptates possimus, corrupti temporibus vel
      accusantium modi et recusandae fugit provident eligendi. Provident magnam possimus fuga repellat ea, nostrum odio quasi.
    </p>
    <p>
      Beatae incidunt magnam, animi inventore nihil officia explicabo ea nam nobis deleniti eos omnis, cupiditate earum obcaecati dolore dolor
      accusamus laboriosam quidem necessitatibus temporibus numquam, repellat id aut! At similique harum autem maxime minima? Qui nostrum fuga laborum
      vero obcaecati officia ullam possimus provident repellat illo, animi cum deleniti! Sequi?
    </p>
    <p>
      Blanditiis, ea ullam harum porro labore nesciunt sequi dolores voluptatum ducimus quisquam mollitia ipsam sunt similique quos nostrum modi
      praesentium debitis, nemo corporis illum? Voluptatibus aspernatur tempora velit possimus aliquam sit, odio nesciunt minima assumenda ullam alias
      eaque excepturi, pariatur obcaecati non quam saepe! Eaque debitis rerum reiciendis fuga iure!
    </p>
  </section>
</Layout>

<style>
  section {
    padding-block: 5rem;
  }
</style>
