---
import {Icon} from "astro-icon/components"

type Props = {
  title?: string | {text: string; class?: string}
  subtitle?: string
  description?: string
  coverImage?: string | {url: string}
  icon?: {name: string; class?: string; classDiv?: string}
  link?: string | {url: string; text: string; class?: string}
  class?: string
  heroClass?: string
  bodyClass?: string
  contentClass?: string
  descriptionClass?: string
  footerClass?: string
}

const {
  title,
  subtitle,
  description,
  coverImage,
  icon,
  link,
  class: articleClass,
  heroClass,
  bodyClass = "p-8",
  contentClass,
  descriptionClass,
  footerClass = "mt-auto",
  ...props
} = Astro.props
const imageCSS = coverImage ? "url(" + coverImage.url + ")" : ""
---

<style define:vars={{imageCSS}}>
  article {
    background-size: 300%, cover;
  }
  .hero {
    background-image: var(--imageCSS);
  }
</style>

<article class:list={["relative overflow-hidden grid bg-cover bg-top bg-no-repeat grid-rows-[min-content_1fr_min-content]", articleClass]}>
  <figure
    class:list={["hero flex bg-cover bg-center !my-0", {"px-8 pt-8": icon}, {"w-full aspect-video min-h-40 overflow-hidden": coverImage}, heroClass]}>
    {
      icon && (
        <div class:list={icon.classDiv}>
          <Icon name={icon.name.icon || icon.name || "mdi:arrow-right-thin"} optimize class:list={["size-10", icon.class]} />
        </div>
      )
    }
  </figure>
  <div class:list={[bodyClass, "flex flex-col"]}>
    <div class:list={[contentClass]}>
      <hgroup>
        {subtitle && <p>{subtitle}</p>}
        {title && <h3 class:list={["!mt-0 text-pretty !text-xl leading-tight", title.class]}>{title?.text || title}</h3>}
      </hgroup>
      {description && <p class:list={["mb-4 leading-snug small", descriptionClass]}>{description}</p>}
    </div>
    {
      link && (
        <footer class={footerClass}>
          <a href={link.url} class={link.class || "btn btn-blue"}>
            {link.text || "Read More"} <Icon name="mdi:arrow-right-thin" class="size-6" />
          </a>
        </footer>
      )
    }
  </div>
</article>
